/*Fuentes personalizadas*/

@font-face{
font-family: marchamocha;
src:url(fuentes/Marcha.ttf) format(´truetype´)
}

@font-face{
font-family: marchamocha;
src:url(fuentes/Marcha.ttf) format(´truetype´)
}
